.bg-negro {
  background-color: #000000;
}

.bg-azulMarino {
  background-color: #004468;
}

.btn-azulMarino {
  background-color: #004468!important;
}

.text-azulMarino {
  color: #004468!important;
}

.imagen {
  width: 66px;
}

.item-navbar {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
}

.nav-link:hover {
  background: #ffc107;
  color: #343a40 !important;
}

.dropdown-item {
  background: #000000 !important;
  color: #fff !important;
}

.dropdown-item:hover {
  background: #ffc107 !important;
  color: #000000 !important;
}

.slider-home {
  height: 602px;
	background: url(../images/slider1.jpg);
	background-size: 100% 100%;
  background-attachment: fixed;
}

.ventana {
  margin: 4em 0 0 2em;
  width: 40%;
  font-size: 2.3em;
  font-weight: bold;
  text-shadow: 2px 2px 9px #000;
	color: #ccc;
	text-transform: uppercase;
	background: #fff;
	background: rgba(255,255,255,0.1);
	box-shadow: 2px 2px 3px #999;
}

.acerca {
  height: 538px;
  background: url(../images/acercade.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
}

.texto-acerca {
  margin: 4em 0 0 2em;
}

.numfotos {
  height: 366px;
  background: url(../images/num_fotos.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
  padding-top: 80px;
}

.texto-numfotos {
  border: 1px solid #fff;
  font-size: 48px;
}

.quienes {
  height: 515px;
  background: url(../images/quienes_somos.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
}

.texto-quienes {
  margin: 4em 0 0 2em;
}

@media (max-width: 575.98px) {
  .ventana p {
    font-size: 0.7em;
  }

  .texto-acerca h2 {
    font-size: 1.5em;
  }

  .texto-acerca p {
    font-size: 0.8em;
  }

  .texto-quienes h2 {
    font-size: 1.5em;
  }

  .texto-quienes p {
    font-size: 0.8em;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .ventana p {
    font-size: 0.8em;
  }

  .texto-acerca h2 {
    font-size: 1.5em;
  }

  .texto-acerca p {
    font-size: 0.8em;
  }

  .texto-quienes h2 {
    font-size: 1.5em;
  }

  .texto-quienes p {
    font-size: 0.8em;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .ventana {
    font-size: 1.9em;
  }
}