{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>{% block tittle %}{% endblock %} | Fototeca UTPL</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css'%}">
	<link href="https://file.myfontastic.com/hUsvSK8s6MutdPKJHuW7TX/icons.css" rel="stylesheet">
	{% block head %}
	{% endblock %}
</head>
<body>
<header style="background: #000000">
	<div class="imgheader"><img src="{% static 'images/logo-fototeca.jpg'%}" title="logo" width="60"></div>
	<nav>
		<a href="/" class="menuinicio">Home</a>
		<a href="/#acerca">Acerca de</a>
		<a href="/#quienes">Quienes Somos?</a>
		<a href="/murales">Murales</a>
		<a href="/monumentos">Monumentos</a>
		<a href="/coleciones">Células</a>
		<a href="/#contactos" class="menufin">Contactos</a>
		{% if user.is_authenticated %}
		<!--<div class="dropdown" style="float:right------;">-->

		<a href="/formulario"><span class="icon-user"></span> | {{ user.username }}</a>
		<a href="/logout">Salir</a>
			{% else %}
			<a href="/login">login</a>
			<a href="/formulario">Únete</a>
			{% endif %}
		</div>
	</nav>
	{% block header %}
	{% endblock %}
</header>
<main>
	<section class="container">
		{% block content1 %}
		{% endblock %}
	</section>
</main>
<footer><a name="contact"></a>
	<h6>Derechos Reservados UTPL | MediaLab | TAW | 2018</h6>
	{% block footer %}
	{% endblock %}
</footer>
</body>
</html>
