page-json {

  ion-content {
  background-image: linear-gradient(rgba(240, 152, 25, 0.5), rgba(237, 222, 93, 0.5)),
                    url('../assets/img/slider1.jpg');
                    -webkit-background-image: url('../assets/img/slider1.jpg');
//  background-repeat: no-repeat;
  background-size:cover;
  }

  .sebm-google-map-container {
    height: 50%;
  }
}
