{% extends 'master.html' %}
{% block tittle %} Celulas {% endblock %}
{% load static %}
{% block head %}
  <style>
    .row {
      margin-top: 113px;
      margin-bottom: 113px;
    }
  </style>
{% endblock %}
{% block content1 %}
  <div class="row">
    <div class="col-md-6 mb-5 mb-md-0 d-flex justify-content-center">
      <div class="card" style="width: 25rem;">
        <img class="card-img-top" src="{% static 'images/mura-2.jpg'%}" alt="Card image cap" style="height: 265.33px">
        <div class="card-body">
          <h5 class="card-title text-center">Murales</h5>
        </div>
        <div class="card-body p-0">
          <a href="/murales" class="btn btn-warning btn-lg btn-block rounded-0">Ver más</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center">
      <div class="card" style="width: 25rem;">
        <img class="card-img-top" src="{% static 'images/mura.jpg'%}" alt="Card image cap" style="height: 265.33px">
        <div class="card-body">
          <h5 class="card-title text-center">Monumentos</h5>
        </div>
        <div class="card-body p-0">
          <a href="/monumentos" class="btn btn-warning btn-lg btn-block rounded-0">Ver más</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

