{% extends 'master.html' %}
{% block tittle %} Celulas {% endblock %}
{% load static %}
{% block head %}
  <style>
    .row {
      margin-top: 113px;
      margin-bottom: 113px;
    }
  </style>
<!--<style>
body {
	height: 88vh;
}

.image {
  opacity: 1;
  display: block;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 48%;
  left: 33%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.middle2 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 54%;
  left: 68%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.container2:hover .image2 {
  opacity: 0.3;
}

.container2:hover .middle2 {
  opacity: 1;
}

.text {
  background-color: #004468;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
a{
    color: white;
}

footer {
  margin-top: 110px;
}

</style>-->

{% endblock %}
{% block content1 %}
    <!--<br><br>
    <div>
        <div class="container">
            <img src="{% static 'images/mura-2.jpg'%}" alt="murales" class="image" style="width:20em;height:23em;display: inline-block;margin-left: -40%">
            <div class="middle">
                <div class="text">Murales</div>
                  <br>
                <div class="text"><a href="/murales" class="text-decoration-none">VER MAS</a></div>
          </div>
        </div>
        <div class="container2">
            <img src="{% static 'images/mura.jpg'%}" alt="monumentos" class="image2" style="width:20em;height:23em;display: inline-block;margin-left: 40%; margin-top: -36%">
            <div class="middle2">
                <div class="text">Monumento</div>
                <br>
                <div class="text"><a href="/monumentos" class="text-decoration-none">VER MAS</a></div><br><br><br>
            </div>
        </div>
    </div>
    <br><br><br>-->
  <div class="row">
    <div class="col-md-6 mb-5 mb-md-0 d-flex justify-content-center">
      <div class="card" style="width: 25rem;">
        <img class="card-img-top" src="{% static 'images/mura-2.jpg'%}" alt="Card image cap" style="height: 265.33px">
        <div class="card-body">
          <h5 class="card-title text-center">Murales</h5>
        </div>
        <div class="card-body p-0">
          <a href="/murales" class="btn btn-warning btn-lg btn-block rounded-0">Ver más</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center">
      <div class="card" style="width: 25rem;">
        <img class="card-img-top" src="{% static 'images/mura.jpg'%}" alt="Card image cap" style="height: 265.33px">
        <div class="card-body">
          <h5 class="card-title text-center">Monumentos</h5>
        </div>
        <div class="card-body p-0">
          <a href="/murales" class="btn btn-warning btn-lg btn-block rounded-0">Ver más</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

