{% extends 'master.html' %}
{% block tittle %} Editar Colecciones {% endblock %}
{% load static %}
{% block content1 %}
   <form method="post" class="text-left">
        {% csrf_token %}
            <div class="form-group" style="text-align: center">
                <label >id user</label>
                {{ form.iduser }}
            </div>
            <div class="form-group" style="text-align: center">
                <label >id imagen</label>
                {{ form.idimagen }}
            </div>
            <div class="form-group" style="text-align: center">
                <label >Comentar</label><br>
                {{ form.comentario }}
            </div>
        <button type="submit" class="btn btn-primary btn-block">Commit</button>
    </form>

{% endblock %}
{% comment %}
<form method="post">
    {% csrf_token %}

    {{ form.iduser }}<br>hola
    {{ form.idimagen }}<br>hola2
    {{ form.comentario }}<br>hola3444

    <button type="submit" class="btn-primary">Comentar</button>
</form>
{% endcomment %}
