{% extends 'master.html' %}
{#{% block tittle %} Editar Colecciones {% endblock %}#}
{% load static %}
{% block content1 %}
    <div class="row pt-4">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <h3 class="card-header py-4">Agregar comentario</h3>
                <div class="card-body">
                   <form method="post" class="text-left">
                        {% csrf_token %}
                            <div class="form-group" style="text-align: center">
                                <label >id user</label>
                                {{ form.iduser }}
                            </div>
                            <hr>
                            <div class="form-group" style="text-align: center">
                                <label >id imagen</label>
                                {{ form.idimagen }}
                                <p><i style="size: 2">Coloqué el id de la imagen</i></p>
                            </div>
                            <hr>
                            <div class="form-group" style="text-align: center">
                                <label >Comentar</label><br>
                                {{ form.comentario }}
                            </div>
                        <button type="submit" class="btn btn-primary btn-block">Commit</button>
                   </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
