{% extends 'master.html' %}
{% block tittle %} edit form {% endblock %}
{% load static %}


{% block head %}
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'css/ventana.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'css/galeria.css'%}">
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Guardar</button>
</form>
{% endblock %}
